body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: fantasy;
}

#clock {
    font-size: 2em;
    color: black;
    /* height: 1000 px;
    width: 800 px;
    border: 4px solid black;
    border-radius: 1rem;
    background-color: chocolate; */
}

#clock i {
    margin-right: 5rem;
}

#para {
    font-size: 2rem;
    color: black;
    height: auto;
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
}
